@import "partials/settings";
@import "partials/foundation";

@include foundation-everything;

// Coolors Exported Palette - coolors.co/0d1f2d-96bdc6-56666b-8eb8e5-fefffe 
$color1: #2A2A2A;
$color2: #56666B;
$color3: #8EB8E5;
$color4: #77A7EE;
$color5: #EEE5E5;

// 
// 
// 
// SITE: Fixes
// 
// 
// 
body {
	margin-top: 3.2rem; // Nav Fix
	@include breakpoint(small only) {
		margin-top: 3.5rem;
	}
}

// Prevent FOUC (Flash of Unstyled Content) with Top Bar. Comes from:
// http://foundation.zurb.com/sites/docs/responsive-navigation.html#preventing-fouc
.no-js {
  @include breakpoint(small only) {
    .top-bar {
      display: none;
    }
  }

  @include breakpoint(medium) {
    .title-bar {
      display: none;
    }
  }
}

// 
// 
// 
// SITE: General
// 
// 
// 
h1 {
	color: $color1;
}

.container {
	margin: 0 5%;
	padding: 0 2rem;
	background-color: $white;

	@include breakpoint(small only) {
		margin: 0 2%;
		padding: 0 1rem;
	}
}

.center-cropped {
	width: 100%;
	height: 150px;
	background-position: top right;
	background-repeat: no-repeat;
}

// 
// 
// 
// SITE: NAV
// 
// 
// 
$scrollhide-nav-transition-speed: 1s;

.scrollhide-nav {
  position: fixed;
  right: 0;
  top: 0;
  left: 0;
  z-index: 1000;
}

.top-bar {
	padding: 0rem;
	background-color: $color1;

	ul {
		background-color: $color1;
	}
}

.title-bar-title {
	margin-left: 0.5rem;
	a {
		color: $color5;
	}
}

.menu {
	.menu-text {
		padding: 0;
		color: $color5;

		a {
			color: $color5;
			@include breakpoint(small) {
				padding-left: 0.7rem;
			}
		}


	}
	a.nav-link {
		color: $color5;
		font-size: 0.9rem;
		margin-top: 2px;
		padding-left: 0.1rem;

		@include breakpoint(small) {
			padding-left: 0.7rem;
		}
	}
}

$search-bar-height: 23px;
.input-group-rounded {
	margin: 8px 0px;

	@include breakpoint(small) {
			padding-left: 0.7rem;
	}

  .input-group-field {
  	height: $search-bar-height;
  	width: 15rem;
    border-radius: 5000px 0 0 5000px;
    border: 0px;
    padding-left: 1rem;
    font-size: 0.7rem
  }

  .input-group-button .button {
  	border-left: 1px solid $color1;
  	padding: 5px;
  	height: $search-bar-height;
    border-radius:  0 5000px 5000px 0;
    font-size: 0.7rem;
    background-color: $color5;
    color: $color1;
  }
}

// 
// 
// 
// HUB: Homepage
// 
// 
// 
.cards .card {
	margin: 0 auto;
	height: 100%;
	width: 100%;
}

.cards .cell {
	margin-bottom: 5px;

	@include breakpoint(medium) {
		margin-bottom: 10px;
	}
}

.cards {
	.model-image {
		flex: 0;
		text-align: center;
		position: relative;
		background-color: $white;
		img {
			width: 300px;
			height: 250px;
			transition: 0.15s ease-in;
			opacity: 1;
		}

		&:hover img {
			box-shadow: 0 0 10px 0 rgba(10, 10, 10, 0.12);
			opacity: 0.6
		}
	}

	.missing-image {
		flex: 0;
		text-align: center;
		position: relative;
		background-color: $white;
		div {
			color: grey;
			text-align: center;
			margin: 0 auto;
			width: 300px;
			height: 250px;
			transition: 0.3s ease-in;
			opacity: 1;
		}
	}
}

//
// 
// 
// HUB: Show Model
// 
// 
//
.title-text p {
	font-size: 18px;
	margin-bottom: 0;

	@include breakpoint(small only) {
		font-size: 14px;
	}
}

.cards {
	.example-image {
		flex: 0;
		text-align: center;
		position: relative;
		background-color: $white;
		img {
			width: 300px;
			height: 250px;
		}
	}
}

.layer-property {
	a {
		margin-bottom: 0;
		font-size: 1rem;
	}
	.dropdown-pane {
		width: 400px;

		p {
			margin-bottom: 0;
		}
	}
}

.close-dropdown {
	position: absolute;
  top: 5%;
  left: 91%;
  padding: 0.15em 0.15em;
  background-color: gray;
  color: $white;
  font-size: 80%;
  font-weight: 600;
}