{% extends 'base.html' %}
{% load static %}

{% block content %}
	<div class="title-text">
		<h2>{{ model.name }}</h2>
		<p>{{ model.description }}</p>
		<p><strong>Accuracy:</strong> 	{{ model.accuracy|floatformat:2 }}%</p>
	</div>


	<hr>
	
  <!-- 
	EXAMPLES
	-->
	<div class="examples">
		<h4>Examples</h4>
		<div class="cards">
			<div class="grid-x grid-margin-x">
				{% for example in model.example_set.all|dictsort:"position" %}
			  <!-- 
				CARD
				-->
				<div class="small-12 medium-6 xlarge-4 xxlarge-3 cell">
					<div class="card">
					  <div class="card-section example-image">
					  	<a target="blank" href="{{ example.source }}">
						  	<img src="{{ example.image.url }}">
					  	</a>
					  </div>
					  {% if example.description %}
					  <div class="card-section">
					    <p>{{ example.description }}</p>
					  </div>
					  {% endif %}
					</div>
				</div>
			  <!-- 
				END CARD
				-->
				{% endfor %}

			</div>
		</div>
	</div>


	<hr>

  <!-- 
	ARCHITECTURE
	-->
	<div class="architecture">
		<h4>Architecture</h4>
		<table>
		  <thead>
		    <tr>
		      <th>Layer</th>
		      <th>Type</th>
		      <th>Input Shape</th>
		      <th>Output Shape</th>
		    </tr>
		  </thead>
		  <tbody>
				{% for layer in model.layer_set.all %}
			  <!-- 
				LAYER ROW
				-->
				<tr>
				  <td>{{ layer.name }}</td>
			  	{% if layer.layerproperty_set.all %}
				  <td class="layer-property">
				  	<a data-toggle="property-dropdown-{{ layer.id }}">{{ layer.layer_type }}</a>
				  	<div class="dropdown-pane" data-position="bottom" data-alignment="left" id="property-dropdown-{{ layer.id }}" data-dropdown data-auto-focus="true">
				  		<h6><strong>Layer Properties:</strong></h6>
				  		{# <button class="close-dropdown" data-toggle="property-dropdown-{{ layer.id }}">X</button> #}
				  		<ul>
							{% for property in layer.layerproperty_set.all %}
								<li style="list-style: none;">{{ property.name }} = {{ property.value }}</li>
							{% endfor %}
							</ul>
				  	</div>
			  	{% else %}
			  	<td>
			  		{{ layer.layer_type }}
			  	{% endif %}
				  </td>
				  <td>{{ layer.input_shape }}</td>
				  <td>{{ layer.output_shape }}</td>
				</tr>
			  <!-- 
				END LAYER ROW
				-->
				{% endfor %}
		  </tbody>
		</table>
	</div>
  <!-- 
	END ARCHITECTURE
	-->


	<hr>

  <!-- 
	ABOUT
	-->
	{% if model.about %}
	<div class="architecture">
		<h4>About</h4>
		<p>{{ model.about|safe }}</p>
	</div>
	{% endif %}
  <!-- 
	END ABOUT
	-->

{% endblock %}