<form id="demo-form" action="{% url 'hub:demo' %}" method="POST">{% csrf_token %}
  <div class="row">
    <div class="small-8 columns">
      <div class="row">
        <div class="small-3 columns">
          <label for="image-url-input" class="right inline">Image Url (Enter an image url that ends in .jpg, .gif, .png, .tif, .svg or .jpeg)</label>
        </div>
        <div class="small-9 columns">
          <input type="text" id="image-url-input" placeholder="Enter an image url" name="data" value="https://en.wikipedia.org/wiki/Bedroom#/media/File:Bedroom_Mitcham.jpg">
        </div>

        <input type="hidden" name="model-id" value="{{ model.pk }}">
        <input type="submit" class="button" id="demo-submit" value="Make Prediction">
      </div>
    </div>
  </div>
</form>
<div class="row">
  <div class="small-8 columns">
    <div class="row">
      Input: <img id="demo-image" src=""/>
    <div class="row">
      Prediction: <span id="demo-prediction"></span>
    </div>
    <div class="row">
      Confidence: <span id="demo-confidence"></span>
    </div>
  </div>
</div>
