<nav class="scrollhide-nav">
  <div class="title-bar" data-responsive-toggle="nav-menu" data-hide-for="medium">
    <button class="menu-icon" type="button" data-toggle="nav-menu"></button>
    <div class="title-bar-title"><a href="/">LyterAI</a></div>
  </div>

  <div class="top-bar" id="nav-menu">
    <div class="top-bar-left">
      <ul class="dropdown vertical medium-horizontal menu" data-dropdown-menu>
        <li class="menu-text"><a href="/">LyterAI</a></li>
        <li><a href="/" class="nav-link">Explore</a></li>
        <li><a href="#" class="nav-link">Create</a></li>
      </ul>
    </div>
    <div class="top-bar-right">
      <ul class="dropdown vertical medium-horizontal menu">
        <form>
          <div class="input-group input-group-rounded">
            <input class="input-group-field" type="search">
            <div class="input-group-button">
              <input type="submit" class="button secondary" value="Search">
            </div>
          </div>
        </form>
        <li><a href="#" class="nav-link">Sign Up</a></li>
        <li><a href="#" class="nav-link">Log In</a></li>
      </ul>
    </div>
  </div>
</nav>

